body {
	font-family: monospace;
	display: flex;
	justify-content: space-around;
}

.list-item {
	text-align: center;
}

.title {
	text-align: center;
}

.sum {
	color: green;
	font-size: 25px;
}

.error {
	color: red;
	font-size: 25px;
}